body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat_login {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.chat_login_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    overflow: auto;
    background: #fff;
    position: relative;
    border: 1px #5f5f5f solid;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
}

.chat_login_container {
    position: relative;
}

.chat_login_input {
    width: 300px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 2px;
    font-size: 18px;
}

.chat_login_invalid {
    background-color: brown;
}

.chat_login_form button {
    width: 150px;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 18px;
}

.chat_login_error {
    position: absolute;
    width: 300px;
    box-sizing: border-box;
    background-color: brown;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
}

.chat_main {
    display: flex;
    align-items: flex-start
}

.chat_members {
    width: 250px;
    margin-top: 30px;
    border: 2px solid #190055;
    border-right: none;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.chat_members_list {
    list-style: none;
    padding-left: 0px;
    font-size: 16px;
}

.chat_member {
    position: relative;
    margin: 12px 5px 0px 20px;
    padding-left: 25px;
}

.chat_member::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -14px;
    background: #8FD4C1;
    height: 25px;
    width: 25px;
    border: 2px solid white;
    border-radius: 50%;
}

.chat_member_you {
    color: brown;
    font-weight: bold;
}

.chat_member_you::before {
    background: #88011e;
}

.chat_window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    height: 500px;
    border: 2px solid #190055;
    border-radius: 20px;
}

.chat_messages {
    width: 560px;
    height: 410px;
    margin-top: 20px;
    overflow: auto;
}

.chat_message {
    margin: 0px 100px 10px 5px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(225, 250, 250);
}

.chat_message_container {
    display: flex;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: rgb(58, 79, 148);
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 5px;
}

.chat_message_you {
    margin: 0px 5px 10px 100px;
    background-color: rgb(60, 109, 109);
    color: #ffffff;
}

.chat_message_you .chat_message_container {
    background-color: brown;
}

.chat_message_nickname::after {
    content: '||';
    margin-left: 7px;
    margin-right: 7px;
}

.chat_message_text {
    font-size: 20px;
}

.chat_input {
    width: 560px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.chat_system_message {
    margin: 5px 15px 8px 17px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(1, 27, 61);
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
